* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

svg {
  margin-top: 10em;
}

#speaker-foam {
  animation: speaker 0.1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#plant {
  animation: plant 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#fireworks {
  animation: fireworks 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#left-leg {
  animation: left-leg 1s ease-in-out infinite alternate;
  transform-origin: top;
}

#woman-body {
  animation: woman-body 1s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes speaker {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.1, 1.1);
  }
}

@keyframes plant {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(5deg);
  }
}

@keyframes fireworks {
  from {
    transform: scale(1, 1) rotateZ(0deg);
  }

  to {
    transform: scale(1.1, 1.1) rotateZ(360deg);
  }
}

@keyframes left-leg {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(15deg);
  }
}

@keyframes woman-body {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(3deg);
  }
}