* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #87255B;
  display: flex;
  height: 100vh;
  justify-content: center;
}

div {
  background-color: #B370B0;
  border: 1px solid #000;
  box-shadow: 5px 5px 5px #000;
  padding: 100px 150px;
  position: relative;
  overflow: hidden;
}

div:hover {
  animation: card-hover 1s forwards ease-out;
  cursor: pointer;
}

@keyframes card-hover {
  from {}

  to {
    box-shadow: 15px 15px 15px 0 #000;
    transform: translate(-20px, -25px);
  }
}

div::after {
  background-image: linear-gradient(rgba(209, 200, 225, 0.1), rgba(209, 200, 225, 0.5));
  content: "";
  filter: blur(15px);
  height: 60px;
  left: -350px;
  position: absolute;
  top: 80px;
  transform: rotate(-50deg);
  width: 400px;
}

div:hover::after {
  animation: shine 1s forwards ease-out;
}

@keyframes shine {
  from {
    
  }

  to {
    /* opacity: 1; */
    transform: translateX(600px) rotate(-50deg);
  }
}
