* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.overlay {
  background-color: purple;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.open-modal-button {
  background-color: #BBBAC6;
  border-style: outset;
  border-width: 10px;
  color: #4f4f4f;
  cursor: pointer;
  padding: 50px 100px;
}

.open-modal-button:hover {
  border-style: inset;
}

.hide {
  display: none;
  opacity: 0;
}

.modal {
  background-color: red;
  height: 500px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 200;
}
