:root {
	--white: rgba(255, 255, 255, 1);
	--gray1: rgba(255, 255, 255, 0.125);
	--gray2: rgba(255, 255, 255, 0.25);
	--gray3: rgba(255, 255, 255, 0.375);
	--gray4: rgba(255, 255, 255, 0.5);
	--gray5: rgba(255, 255, 255, 0.625);
	--gray6: rgba(255, 255, 255, 0.75);
	--gray7: rgba(255, 255, 255, 0.875);
}

