:root {
	--white: rgba(255, 255, 255, 1);
	--gray1: rgba(255, 255, 255, 0.125);
	--gray2: rgba(255, 255, 255, 0.25);
	--gray3: rgba(255, 255, 255, 0.375);
	--gray4: rgba(255, 255, 255, 0.5);
	--gray5: rgba(255, 255, 255, 0.625);
	--gray6: rgba(255, 255, 255, 0.75);
	--gray7: rgba(255, 255, 255, 0.875);
}

html {
	background-color: slategray;
	height: 100vh;
}

body {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.dot-spinner {
	animation: spin-circle 1.25s infinite ease;
	border-radius: 50%;
	font-size: 25px;
	height: 1em;
	margin: 100px auto;
	width: 1em;
}

@keyframes spin-circle {
	0%,
	100% {
		box-shadow: 0 -3em 0 0 var(--white), 2em -2em 0 0 var(--gray1),
		3em 0 0 0 var(--gray2), 2em 2em 0 0 var(--gray3),
		0em 3em 0 0 var(--gray4), -2em 2em 0 0 var(--gray5),
		-3em 0 0 0 var(--gray6), -2em -2em 0 0 var(--gray7);
	}
	
	12.5% {
		box-shadow: 0 -3em 0 0 var(--gray7), 2em -2em 0 0 var(--white),
		3em 0 0 0 var(--gray1), 2em 2em 0 0 var(--gray2),
		0em 3em 0 0 var(--gray3), -2em 2em 0 0 var(--gray4),
		-3em 0 0 0 var(--gray5), -2em -2em 0 0 var(--gray6);
	}

	25% {
		box-shadow: 0 -3em 0 0 var(--gray6), 2em -2em 0 0 var(--gray7),
		3em 0 0 0 var(--white), 2em 2em 0 0 var(--gray1),
		0em 3em 0 0 var(--gray2), -2em 2em 0 0 var(--gray3),
		-3em 0 0 0 var(--gray4), -2em -2em 0 0 var(--gray5);
	}
	
	37.5% {
		box-shadow: 0 -3em 0 0 var(--gray5), 2em -2em 0 0 var(--gray6),
		3em 0 0 0 var(--gray7), 2em 2em 0 0 var(--white),
		0em 3em 0 0 var(--gray1), -2em 2em 0 0 var(--gray2),
		-3em 0 0 0 var(--gray3), -2em -2em 0 0 var(--gray4);
	}

	50% {
		box-shadow: 0 -3em 0 0 var(--gray4), 2em -2em 0 0 var(--gray5),
		3em 0 0 0 var(--gray6), 2em 2em 0 0 var(--gray7),
		0em 3em 0 0 var(--white), -2em 2em 0 0 var(--gray1),
		-3em 0 0 0 var(--gray2), -2em -2em 0 0 var(--gray3);
	}
	
	62.5% {
		box-shadow: 0 -3em 0 0 var(--gray3), 2em -2em 0 0 var(--gray4),
		3em 0 0 0 var(--gray5), 2em 2em 0 0 var(--gray6),
		0em 3em 0 0 var(--gray7), -2em 2em 0 0 var(--white),
		-3em 0 0 0 var(--gray1), -2em -2em 0 0 var(--gray2);
	}

	75% {
		box-shadow: 0 -3em 0 0 var(--gray2), 2em -2em 0 0 var(--gray3),
		3em 0 0 0 var(--gray4), 2em 2em 0 0 var(--gray5),
		0em 3em 0 0 var(--gray6), -2em 2em 0 0 var(--gray7),
		-3em 0 0 0 var(--white), -2em -2em 0 0 var(--gray1);
	}
	
	87.5% {
		box-shadow: 0 -3em 0 0 var(--gray1), 2em -2em 0 0 var(--gray2),
		3em 0 0 0 var(--gray3), 2em 2em 0 0 var(--gray4),
		0em 3em 0 0 var(--gray5), -2em 2em 0 0 var(--gray6),
		-3em 0 0 0 var(--gray7), -2em -2em 0 0 var(--white);
	}
}
