* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: repeat(2, min-content) minmax(max-content, 1fr);
  grid-template-rows: 1fr;

}

header > form {
  display: none;
}

@media screen and (min-width: 360px) {

}

@media screen and (min-width: 520px) {
  header {
    grid-template-columns: repeat(3, min-content) minmax(max-content, 1fr);
  }

  header > form {
    display: inline;
  }
}



